# Archivos del sistema operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Archivos de IDE/editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
.netrwhist
*~

# Archivos de WordPress
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# Archivos de Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Archivos de compilación
/dist/
/build/
.sass-cache/
*.css.map
*.js.map

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
